<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Jtools Java Project Viewer"
            id="jtools.java.project.viewer">
      </category>
      <view
            name="Jtool Project Explorer"
            icon="icons/sample.gif"
            category="jtools.java.project.viewer"
            class="jtools.java.project.viewer.views.JtJavaProjectView"
            id="jtools.java.project.viewer.views.JtJavaProjectView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="jtools.java.project.viewer.views.JtJavaProjectView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
